<app-header></app-header>
<div class="movie-container">
    <div class="top">
        <div class="left">
            <div class="name">{{movie?.name}}</div>
            <div class="rating">
                <app-star-rating [rating]="movie?.rating" [isReadonly]="true"></app-star-rating>
                <span class="rating-value">{{movie.rating}}</span>
            </div>
            <div class="cover">
                <img [src]="movie?.cover" alt="">
            </div>
        </div>
        <div class="right">
            <div class="title">rate the movie</div>
            <div class="rating-form">
                <div class="form-group">
                    <label for="uname">name</label>
                    <input type="text" name="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="rating">rating</label>
                    <app-star-rating [rating]="0" [isReadonly]="false"></app-star-rating>
                </div>
                <div class="form-group">
                    <label for="review">review</label>
                    <textarea name="review" rows="3" class="form-control"></textarea>
                </div>
                <div class="btn-container">
                <button class="btn btn-dark">submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="title">review</div>
        <div class="reviews">
            <div class="review" *ngFor="let review of movie?.reviews">
                <div class="review-details">
                    <div class="review-left">
                        <div class="author">
                          {{review.author}}
                        </div>
                        <div class="author_dt">{{review.published_on | date:"dd-MMM-yyyy"}}</div>
                    </div>
                    <div class="review-right">
                        <div class="rating">
                            <app-star-rating [rating]="review.rating" [isReadonly]="true"></app-star-rating>
                            <span class="rating-value">{{review.rating}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>