<app-header></app-header>
<div class="home-container">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">view all</div>
            </div>
            <div class="movies-tumbnail">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover" (click)="goToMovie('trending',movie.id)">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{movie.name}}</div>
                        <div class="ratings">
                            <app-star-rating [rating]="movie.rating" [isReadonly]="true"></app-star-rating>
                        </div>
                        <div class="rating">{{movie.rating}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theatre-movies">
            <div class="top">
                <h4>popular in theatre</h4>
                <div class="view-all">view all</div>
            </div>
            <div class="movies-tumbnail">
                <div class="movie" *ngFor="let movie of theatreMovies">
                    <div class="cover" (click)="goToMovie('theatre',movie.id)">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{movie.name}}</div>
                        <div class="ratings">
                            <app-star-rating [rating]="movie.rating" [isReadonly]="true"></app-star-rating>
                        </div>
                        <div class="rating">{{movie.rating}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies">
        <div class="top">
            <h4>all time popular </h4>
            <div class="movies">
              <div class="movie" *ngFor="let movie of popularMovies">
                 <div class="name">{{movie.name}}</div>
                    <div class="rating">
                        <app-star-rating [rating]="movie.rating" [isReadonly]="true"></app-star-rating>
                    </div>
                  <div class="rating">{{movie.rating}}</div>
                </div>
            <div class="view-all">view all</div>
            </div>
        </div>
    </div>
</div>